@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", 'sans-serif';
    box-sizing: border-box;
    background-color: black;
}

html, body {
    height: 100%;
    scroll-behavior: smooth;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: black;
    z-index: 3;
    padding: 25px 0;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: right;
    gap: 50px;
}

nav ul li {
    display: inline;
    position: relative;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
    position: relative;
   
}

nav ul li a:hover {
    color: rgb(231, 168, 49);
}

nav ul li a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 1px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(231, 168, 49);
    visibility: hidden;
    transition: all 0.3s ease-in-out 0s;
}

nav ul li a:hover:before {
    visibility: visible;
    width: 115%;
}



/*===================== PROJECT CONTENT =====================*/

.project-content {
    padding: 20px;
    text-align: center;
    margin-top: 60px;
}

.project-content h1 {
    font-size: 4em; 
    margin-top: 50px;
    margin-bottom: 20px;
    color: white;
}

.carousel {
    margin: 20px auto;
    width: 90%;
}

.carousel img {
    width: 100%;
    height: auto;
    border-radius: 2px;
    transition: transform 0.3s;
}

.carousel img:hover {
    transform: scale(1.02);
}

.carousel .slick-prev:before, 
.carousel .slick-next:before {
    content: ''; /* Remove the text */
}


.carousel .slick-prev:before, 
.carousel .slick-next:before {
    font-family: 'FontAwesome'; /* Use FontAwesome or any other icon font */
    content: '\f104'; /* Left arrow */
    font-size: 50px;
    color:  rgb(231, 168, 49);
}

.carousel .slick-next:before {
    content: '\f105'; /* Right arrow */
}

.carousel .slick-prev {
    left: -35px; /* Adjust this value as needed */
}

.project-images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    grid-gap: 15px; /* Space between images */
    margin: 20px 3%; /* 3% space between left/right borders */
}

.project-images img {
    width: 100%;
    height: auto;
    border-radius: 2px;
    transition: transform 0.3s;
}

.project-images img:hover {
    transform: scale(1.02);
}


.back {  /* Back option */
    margin-top: 50px;
}

.back a {
    color: white;
    text-decoration: none;
    font-size: 2.2em;
}

.back a:hover {
    text-decoration: underline;
    color: rgb(231, 168, 49);
}


/*===================== SEASON 1 AND 2 =====================*/
.seasons-tabs {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    gap: 30px; /* Adjust the gap between Season 1 and Season 2 tabs */
    color: white;
    margin-top: 3%;

}

.tab-links{
    display: flex;
    margin: 20px 0 40px;
    color: white;
    justify-content: center;
}

.tab-links {
    margin-right: 50px;
    font-size: 40px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    margin-top: 25px;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: rgb(231, 168, 49);;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: -8px;
    transition: all 0.3s ease-in-out 0s;
}

.tab-links.active-link::after {
    width: 105%;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}



/*===================== MODAL =====================*/
.modal {
    display: none;
    position: fixed;
    z-index: 5;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 90%;
    max-width: 60%;
}

.modal-content, .modal-caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

.close {
    position: absolute;
    top: 15px;
    right: 55px;
    color: #f1f1f1;
    font-size: 55px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

nav .fa-solid {
    display: none;
    color: white;
}


/*============================== CSS FOR SMALL SCREENS ==============================*/
@media only screen and (max-width: 600px) {
    nav .fa-solid {
        display: block;
        font-size: 25px;
        position: absolute;
        top: 20px;
        right: 40px;
        cursor: pointer;
    }

    /* Style the side menu */
    nav ul {
        background-color: black;
        flex-direction: column;
        gap: 20px;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.6s;
    }

    nav ul li {
        display: block;
        text-align: left;
    }

    nav ul li a {
        font-size: 20px;
        margin-left: 25px;
        top: 30px;
        color: white;
    }

    nav ul .fa-solid { /* close buttn */
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer; 
        font-size: 20px;  /* size close buttn */
    }  

    .project-content h1 {
        font-size: 30px;
        text-align: center;
    }

    .tab-links {
        font-size: 20px;
        text-align: center;
        left: 20px;
    }

    .carousel .slick-prev:before, 
    .carousel .slick-next:before {
        font-size: 30px;
    }

    .carousel .slick-prev {
        left: -25px;
    }

    .modal-content {
        width: 95%;
        max-width: 90%;
    }

    /*===================== TAB CONTENT IMAGES =====================*/
    .project-images img {
        width: 100%;
        height: auto; /* Maintain aspect ratio */
        max-width: 100%; /* Prevent images from exceeding container width */
        border-radius: 2px;
        transition: transform 0.3s;
    }

    .project-images img:hover {
        transform: scale(1.02);
    }

    .back {
        font-size: 10px;
    }
}
